body{
    font-family: 'Segoe UI';
    background-color: #1c4595;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.titulo{
    text-align: center;
    background-color: #e76a24;
    border: 4px solid black;
}
.paginacion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cajaBusqueda{
    text-align: center;
    font-size: 0.8em;
}
button,#inputBusqueda,#botonBusqueda{
    padding: 10px;
    background-color: #e76a24;
    font-weight: bold;
    font-size: 1.4em;
}
#listaDragonBall{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 20px;
}
.cajaPersonaje{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 350px;
    border: 4px solid black;
    border-radius: 20px;
    background-color: #fbbc42;
}
img{
    max-width: 200px;
    max-height: 200px;
}
img:hover{
    max-width: 250px;
    max-height: 250px;
}

@media (max-width:810px) {
    .cajaPersonaje{
        width: auto;
    }
}